.layout__container {
 width: 100%;
 min-height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.show{
  display: none;
}
/* 
@media (min-width:768px){
  .layout-show{
    margin-top: 200px;
    display:none;
  }
} */


